body{
  background: #000;
  background-image: url(https://picfiles.alphacoders.com/402/thumb-1920-402513.jpg);
  background-size: 100h;
}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
